html, body {
  background-color: #eee;
}
body {
  padding-top: 40px;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 20px 20px;
  margin: 15px -20px -20px;
  border-top: solid 1px #eee;
}

.nav-logo img {
  margin-top: -4px;
  margin-right: -5px;
}

/********************************************************************
  * Form
  *******************************************************************/

.dataset-search {
  display: inline;
}
