{% extends "base.html" %}

{% block title %}
Data Package Creator - Tools
{% endblock %}

{% block content %}
<h1>DataPackage.json Creator</h1>

  <div class="row">
    <div class="span6">
      <form class="form form-horizontal js-dp">
        <div class="control-group">
          <label class="control-label">Title</label>
          <div class="controls">
            <input type"text" name="title" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Name</label>
          <div class="controls">
            <input type"text" name="name" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Description</label>
          <div class="controls">
            <textarea name="description" placeholder="Description"></textarea>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">License</label>
          <div class="controls">
            <select name="license">
            </select>
          </div>
        </div>

        <h3>Add data file (CSV)</h3>
        <div class="control-group">
          <label class="control-label">File</label>
          <div class="controls">
            <input type="file"  multiple="multiple" />
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Go</button>
          </div>
        </div>
      </form>
    </div>
    <div class="span6">
      <textarea class="js-dpjson" style="height: 100%; min-height: 450px; width: 100%;" placeholder="DataPackage.json JSON will appear here"></textarea>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://okfnlabs.org/datapackage-init/demo/bundle.js"></script>
<script type="text/javascript" src="http://okfnlabs.org/datapackage-init/demo/app.js"></script>
{% endblock %}
