{% extends "base.html" %}

{% block title %}
Data Package Creator - Tools
{% endblock %}

{% block content %}
<h1>DataPackage.json Creator</h1>

  <div class="row">
    <div class="col-md-6">
      <form class="form js-dp">
        <div class="form-group">
          <label class="form-label" class="col-md-2">Title</label>
          <input type"text" name="title" class="form-control" />
        </div>

        <div class="form-group">
          <label class="form-label">Name</label>
          <input type"text" name="name" class="form-control" />
        </div>

        <div class="form-group">
          <label class="form-label">Description</label>
          <textarea name="description" placeholder="Description" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label class="form-label">License</label>
          <select name="license"></select>
        </div>

        <h3>Add data file (CSV)</h3>
        <div class="form-group">
          <label class="form-label">File</label>
          <div class="controls">
            <input type="file"  multiple="multiple" />
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Go</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <textarea class="js-dpjson" style="height: 100%; min-height: 450px; width: 100%;" placeholder="DataPackage.json JSON will appear here"></textarea>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://okfnlabs.org/datapackage-init/demo/bundle.js"></script>
<script type="text/javascript" src="http://okfnlabs.org/datapackage-init/demo/app.js"></script>
{% endblock %}
