{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
Data Package Viewer - Tools
{% endblock %}

{% block content %}
<h1>
  DataPackage Viewer
</h1>
<form class="js-info" action="" method="GET">
  <div class="form-group">
    <input type="text" name="url" placeholder="Link to data package" value="{{url}}" class="form-control" />
  </div>
  <button class="btn btn-primary">Go</button>
</form>

{% if url %}
<hr />
<h2>{{dataset.title}}</h2>
{{snippets.dataset_show(dataset, jsonDataPackage, dataViews)}}
{% endif %}

{% endblock %}

