{% extends "base.html" %}

{% block page_title %}
Standards - decoupling publishers and consumers
{% endblock %}

{% block content %}
<div class="row">
  <div class="span6">
    <h2>Data Package and Simple Data Format</h2>
    <p>We provide two new standards for data "transport". These are essential to the overall approach allowing us to decouple publishers from consumers. Publishers can publish data packages from their tools and consumers can load the data into their (different) tools.</p>

  <img src="http://assets.okfn.org/p/data.okfn.org/img/the-idea.png" alt="" />
</div>
<div class="span6">
<h3>Overview of the formats</h3>
<p>These standards are <strong>ultra-lightweight</strong>, RFC-style specifications. They build <strong>heavily on prior work</strong>. <strong>Simplicity and practicality</strong> were guiding design criteria.</p>

<img src="https://docs.google.com/drawings/d/1SZxJ00WEp3iK5fqljc-yumalRePmwdaaH98_8uJYlbs/pub?w=382&h=377" alt="Overview" style="margin: auto; display: block; width: 200px; float: right;" />

<p>The following diagram provides a schematic relationship of the main components.</p>

<p><strong>Data package</strong>: minimal wrapping, agnostic about the data its "packaging", designed for extension. This flexibility is good as it can be used as a transport for pretty much any kind of data but it also limits integration and tooling. <a href="http://www.dataprotocols.org/en/latest/data-packages.html">Read the full Data Package specification &raquo;</a></p>

<p><strong>Simple data format (SDF)</strong>: focuses on tabular data only and extends data package (data in simple data format is a data package) by requiring data to be "good" CSVs and the provision of a simple JSON-based schema to describe them ("JSON Table Schema"). <a href="http://www.dataprotocols.org/en/latest/simple-data-format.html">Read the full Simple Data Format specification &raquo;</a></p>

</div>
</div> <!-- /row -->
{% endblock %}
