{% extends "base.html" %}

{% block title %}
Tools and Plugins
{% endblock %}

{% block content %}
<div class="page-header">
  <div style="float: right;">
    <a name="contribute" href="//github.com/okfn/data.okfn.org/blob/master/views/tools/index.html" target="_blank" class="btn btn-success">Contributions Welcome - Edit this Page &gt;</a>
  </div>
  <h1>
    Tools and Plugins for working with Data Packages
    <br />
    <small>Including tools for creating, viewing, validating, and publishing</small>
  </h1>
</div>

<div class="row main-tools">
  <div class="col-md-4">
    <div class="well">
      <h3>View</h3>
      <p><a href="/tools/view">Online Data Package viewer</a> app lets you get a nice human-friendly view of a Data Package in seconds.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3>Create</h3>
      <p><a href="/tools/create">Online datapackage.json maker</a> creates the <code>datapackage.json</code> file needed to turn data into a Data Package.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3>Validate</h3>
      <p><a href="/tools/validate">Online validator</a> checks your <code>datapackage.json</code> and Data Package are good to go.</p>
    </div>
  </div>
</div>

<hr />

<div class="row tools">
  <div class="col-md-8">
    <h2>Using Tabular Data Packages With ...</h2>

    <div class="alert alert-warning">
      These "Using with" examples usually require <a href="/doc/tabular-data-package">Tabular Data Packages</a> where the data in the Data Package is stored in CSV (most the <a href="/data">core datasets on this website</a> are in this format)
    </div>

    <h3>Using with Excel</h3>
    <p>For Excel you can just open the CSV file! We're also working on a macro &ndash; see <a href="https://github.com/okfn/data.okfn.org/issues/41">this issue for details</a>.</p>

    <h3>Using with Google Spreadsheets</h3>
    <p><a href="https://github.com/okfn/data.okfn.org/issues/24">Google Spreadsheet Import</a> (in progress)</p>


    <h3>Using with R and R Client</h3>
    <ul>
      <li><a href="https://github.com/christophergandrud/dpmr">R Data Package Manager</a> - by Christopher Gandrud</li>
      <li><a href="https://github.com/QBRC/RODProt">R Open Data Protocols Library</a> - by QRBC</p>
    </ul>

    <h3>Using with Postgresql</h3>
    <p>There is a <a href="https://github.com/okfn/dptools/blob/master/bin/load-postgresql.py">python script (with no dependencies) to load a Tabular Data Package Data Package into Postgresql</a></p>

    <h3>Using with SQLite</h3>
    <p>There is a simple <a href="https://github.com/okfn/dptools/blob/master/bin/load-sqlite.py">python script (no dependencies) to load a Tabular Data Packages into SQLite</a></p>

    <h3>Using with MATLAB</h3>
    <p>
      A function to read data from a Tabular Data Package is available for <a href="http://www.mathworks.com/matlabcentral/fileexchange/47506-read-tabular-data-package">
        download from MATLAB Central's File Exchange</a>.
      To contribute to the library, see the project's <a href="https://github.com/KrisKusano/datapackage">GitHub repository</a>.
    </p>

    <h3>Using with SQL Server</h3>
    <p>
      There is a BIML project <a href="https://github.com/bimlscript/BETDPI"> that uses datapackage.json to generate SSIS packages that can load the contents of a Tabular Data Package into a SQL Server database</a>. Find out more about <a href="http://en.wikipedia.org/wiki/SQL_Server_Integration_Services">SQL Server Integration Services (SSIS)</a>.
    </p>

    <hr />

    <h2>Libraries</h2>
    <h3>datapackage-* (nodejs)</h3>
    <p>There is a comprehensive set of NodeJS libraries which are "officially" supported.</p>
    <ul>
      <li><a href="https://github.com/okfn/dpm">data package manager (dpm)</a> - overall library and command line</li>
      <li><a href="https://github.com/okfn/datapackage-init">datapackage-init</a> - create Data Packages by creating <code>datapackage.json</code> files</li>
      <li><a href="https://github.com/okfn/datapackage-read">datapackage-read</a> - load and access Data Packages (<code>datapackage.json</code>)</li>
      <li><a href="https://github.com/okfn/datapackage-validate">datapackage-validate</a> - validate Data Packages (<code>datapackage.json</code>)</li>
    </ul>

    <h3>datapackage (python module)</h3>
    <p>
      A module useful for loading and managing data packages in Python.
      The module is available in <a href="http://pypi.python.org" title="Python package index">PyPI</a> so it can be installed using:
    </p>
    <p>
      <code>pip install datapackage</code>
    </p>
    <p>
      The <a href="https://github.com/tryggvib/datapackage">source code</a> is a available under the <a href="https://www.gnu.org/licenses/gpl" title="GNU GEneral Public License version 3">GPL</a>.
    </p>

    <h3>R Library</h3>
    <p>See previous section</p>

    <h3>MATLAB Library</h3>
    <p>See previous section</p>

    <h3>Ruby Library</h3>
    <p><a href="https://github.com/theodi/datapackage.rb">Ruby library</a> for parsing and validating both data packages and tabular data packages.</p>

    <hr />

    <h2>Command Line</h2>
    <h3>Data Package Manager (dpm)</h3>
    <p><a href="https://github.com/okfn/dpm">data package manager (dpm)</a> - comprehensive command line tool.</p>

    <hr />

    <h2>Other Tools</h2>
    <h3>Data Validation</h3>
    <ul>
      <li>
        <strong>Good Tables</strong> is both a library and online web service for validating tabular data against a JSON Table Schema. It is available as both a <a href="https://github.com/okfn/goodtables">Python library</a> and a 
    <a href="http://goodtables.okfnlabs.org/">web service</a> for validating tabular data and getting actionable information to fix errors.
      </li>
      <li> 
        <strong><a href="http://csvlint.io/">CSVLint</a></strong>
      </li>
    </ul>

    <h3>Data Package Viewer</h3>
    <ul>
      <li>See the viewer linked at the top of this page</li>
      <li>The ODI's <a href="http://git-viewer.labs.theodi.org/">Git Data Viewer</a> 
      can preview Data Packages stored in git repositories.
      See also the <a href='http://theodi.org/blog/git-data-publishing'>blog post</a> and 
      <a href='https://github.com/theodi/git-data-viewer'>source code</a>.
      </li>

    <h3>JSON Schema Files</h3>
    <p>
      The <a href="https://github.com/dataprotocols/schemas">JSON Schemas for Data Protocol Formats</a> project provides schemas for several of the simple data formats published as part of the <a href="http://dataprotocols.org/">Data Protocols</a> effort. Those schemas include:
      <ul>
        <li><code>data-package.json</code> -- <a href="http://dataprotocols.org/data-packages/">datapackage.json</a> package files</li>
        <li><code>json-table-schema.json</code> -- <a href="http://dataprotocols.org/json-table-schema/">JSON Table Schemas</a> objects</li>
        <li><code>csv-dialect-description-format.json</code> -- for validating <a href="http://dataprotocols.org/csv-dialect/">CSV Dialect Description Format</a> <code>dialect</code> objects</li>
      </ul>
      Visit <a href="https://github.com/dataprotocols/schemas">dataprotocols/schemas</a> for more information.
    </p>
  </div>

  <div class="col-md-4">
    <div class="alert alert-info">
      Have a new tool to add to this page? Please let us know by <a
        href="https://github.com/okfn/data.okfn.org/issues">opening an
        issue</a> or editing this page (see the link above).
    </div>
  </div>
</div>

{% endblock %}
