{% extends "base.html" %}

{% block title %}
Contribute
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    Contribute
  </h1>
</div>
<div class="row">
  <div class="span8">
    <p>This project is a <strong>community-driven</strong> effort of <a href="http://okfnlabs.org/" title="Open Knowledge Foundation Labs">Open Knowledge Foundation Labs</a>.</p>
    <p><strong>Anyone can get involved and contributions are welcome</strong>. There are 4 main areas of work:
    
    <div class="row">
      <div class="span4">
        <h4>Infrastructure &amp; Tools</h4>
        <p>We want to make it one click or one line to create or use data provided in our <a href="/standards">standard formats</a> in any relevant tool or application.</p>
        <p>Help make this happen &ndash; <a href="https://github.com/okfn/data.okfn.org/issues?labels=Tools">check open requests &raquo;</a></p>
      </div>
      <div class="span4">
        <h4>Patterns &amp; Standards</h4>
        <p>We're creating <a href="/standards">lightweight standards</a> together with simple &quot;patterns&quot; to guide data publishing, wrangling, and discovery.</p>
        <p>Help us make this happen <a href="http://okfnlabs.org/contact/">Get in touch &raquo;</a></p> 
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <h4>Documentation &amp; Outreach</h4>
        <p>We need to provide simple tutorials and guides. We need to engage users and tell relevant communities what we're doing.</p>
        <p>Help us make this happen <a href="http://okfnlabs.org/contact/">Get in touch &raquo;</a></p> 
      </div>
      <div class="span4">
        <h4>Preparing Data</h4>
        <p>We are <strong><a href="#data">preparing data</a></strong> &ndash; both in the form of a consolidate set of <a href="/data/">key datasets</a> and in supporting others to package their data.</p>
        <p>Help us make this happen <a href="#data">Read more &raquo;</a></p> 
      </div>
    </div>
  </div>
  <div class="span4">
    <h4 style="margin-top: 0;">Join the Discussion</h4>
    <p>Join the discussion on our mailing list:</p>
    <form action="http://lists.okfn.org/mailman/subscribe/okfn-labs"
      action="POST" class="form-inline">
      <input type="text" class="input-medium" name="email" placeholder="Email">
      <button type="submit" class="btn">Sign up</button>
    </form>
  </div>
</div>

<div class="row" id="data">
  <div class="span8">
    <h3>Data</h3>
    <p>We need help suggesting, preparing and maintaining datasets. Note that:</p>
    <ul>
      <li>We are not a general registry for data &ndash; we have <a href="#criteria">specific criteria</a> for what the datasets we list</li>
      <li>We package data rather than create it &ndash; our focus is to take source data and ensure it is of high quality and in a standard form</li>
      <li>We preserve a clean separation between the data source, the data package and this registry &ndash; for example, data packages are stored in git repos hosted separately (preferably github)</li>
    </ul>

    <h4>Suggest a Dataset</h4>
    <p>To propose a dataset for addition you <a href="https://github.com/datasets/registry/issues/new">open an issue in the Registry</a> with the details of the proposed dataset.</p>

    <h4>Preparing and Submitting a Dataset</h4>
    <p>The key steps are:</p>
    <ul>
      <li>Prepare the dataset &ndash; <a href="#prepare">detailed instructions below</a></li>
      <li>Open an issue for review &ndash; the submission will be reviewed against the <a href="#assessment">assessment criteria</a></li>
      <li>On approval: add to the <a href="https://github.com/datasets/registry">registry list</a></li>
    </ul>
  </div>
  <div class="span9">
    <h3 id="prepare">Preparing a Dataset</h3>
    <p>All datasets MUST be provided in source form as "<a
      href="http://www.dataprotocols.org/en/latest/data-packages.html">data
      packages</a>" and SHOULD be in <a href="http://www.dataprotocols.org/en/latest/simple-data-format.html">Simple Data Format</a>. We also recommend storing in
    a git repo on GitHub. Simple Data Format Data Packages are designed to be <strong>very
      simple</strong> but still have <strong>just enough structure</strong> to be
    usable by tools. You can check out <a
      href="http://github.com/datasets/gdp">an existing, exemplar data package
      (GDP) on GitHub here</a>.</p>

    <h4>Structure</h4>
    <p>A Data Package has the following structure on disk:</p>
    <pre>
datapackage.json   # metadata and data schemas for this data package
README.md          # [Optional] README in markdown format
my-data.csv        # one or more data files in CSV format
  </pre>
    <h4>datapackage.json</h4>
    <p><code>datapackage.json</code> is the central file in a Data Package as it
    provides both general metadata and schema information in a structured form
    that is machine usable. It is a JSON file and full details of its structure are in the <a href="http://www.dataprotocols.org/en/latest/data-packages.html">data packages specification</a>.</p>

    <h4>Data files</h4>
    <p>All data must be provided as CSV files (UTF8 encoded). We recommend having <strong>only one</strong> data file in a data package. See the <a href="http://www.dataprotocols.org/en/latest/simple-data-format.html">Simple Data Format specification</a> for more information.</p>
  </div>
  <div class="span9">
    <h3 id="criteria">Assessment Criteria</h3>
    <p>For dataset to become officially published &ndash; and therefore featured on this site &ndash; it is assessed against the following criteria:</p>
    <ul>
      <li>Quality - the dataset must be well structured</li>
      <li>Relevance and importance - the focus at present is on indicators and reference data</li>
      <li>Ongoing support - it should have a maintainer</li>
      <li>Openness - data should be <a href="http://opendefinition.org/">open data</a> and openly licensed in accordance with the <a href="http://opendefinition.org/">Open Definition</a></li>
    </ul>
  </div>
</div>
{% endblock %}
