{% extends "base.html" %}

{% block content %}
<div class="header-bottom">
  <div id="carousel-banner" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background: black;">
        <img src="img/hero-team.jpg" width="100%" alt="..." style="opacity: 0.6;"/>
        <div class="carousel-content">
          <div class="container">
            <div class="carousel-content-panel text-center">
              <h1>Our Goal is a World of<br/>Frictionless Data</h1>
              <h2>We're creating lightweight standards and tooling<br/>  to make it effortless to get and share data</h2>
              <div class="banner-button">
                <ul class="list-inline">
                  <li><a href="/publish" class="btn btn-green">Publish Data</a></li>
                  <li><a href="/data" class="btn btn-green">Get Data</a></li>
                  <li><a href="/contribute" class="btn btn-green">Get Involved</a></li>
                  <br />
                  <br />
                  <li><a href="#more" class="btn btn-green">Read more &raquo;</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
        
<div class="holder">
  <div class="container">
    <div class="title text-center">
      <h2 id="more">What We Are Doing</h2>
    </div>
    <div class=row>
      <div class="col-sm-6 col-sm-offset-3">
        <p>
        Our work is focused around <strong>"Data Packages"</strong>, lightweight "packaging" format for data that provide a basis for convenient publication, installation and management of datasets.</p>
        <img src="http://assets.okfn.org/p/data/img/icon-256.png" style="margin: auto; width: 256px; display: block;" />
        <p>They aim to deliver functionality similar to "packaging" in software and "containerization" in shipping: a simple wrapper and basic structure for transportation of data that significantly reduces the friction in data sharing and integration, supports automation and does this without imposing major changes on the underlying data being packaged.
        </p>
        <p>The specification is now fairly mature and has a growing set of tooling around it. There is a particular focus on tabular data but any kind of data can be "packaged". Because of its lightweight and simple nature it is easy to adopt both for data publishers, data users and data tool makers.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-2">
        <h4><a href="/standards/">Standards & Patterns</a></h4>
        <p>A small set of lightweight 'data package' standards and patterns providing a base structure on which tooling and integration can build.</p>
      </div>
      <div class="col-sm-3 icon">
        <i class="icon-tasks fa"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2 icon">
        <i class="icon-cogs fa"></i>
      </div>
      <div class="col-sm-5">
        <h4><a href="/tools/">Tooling & Integration</a></h4>
        <p>Making it easy to use and publish data packages from your existing apps and workflows whether that's Excel, R, or Hadoop!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2">
        <h4><a href="/contribute/">Outreach & Community</a></h4>
        <p>Engaging and evangelizing around the concepts, standards and tooling and building a community of users and contributors.</p>
      </div>
      <div class="col-sm-3 icon">
        <i class="icon-group fa"></i>
      </div>
    </div>
  </div>
</div>

<div class="video-holder">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="video-content">
          <h2>Find out more about our Vision</h2>
          <h3>There's too much friction working with data - friction getting data, friction processing data, friction sharing data.</h3>
          <p>This friction stops people: stops them creating, sharing, and collaborating with data.</p>
          <p>It stops the cycle of find, improve, share that would make for a dynamic and productive data ecosystem.</p>
          <p>We need to make an open data ecosystem that, like open-source for software, is useful and attractive to those without any principled interest, the vast majority who simply want the best tool for the job, the easiest route to their goal.</p>
          <p style="margin-top: 20px;">
            <a href="/vision" class="btn btn-primary">READ MORE &hellip;</a>
          </p>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="video">
          <iframe src="https://docs.google.com/presentation/d/1oCGB0SipMvwFFWrRcyJXmvlY4mqewj-0mFnJgM44oQI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="key-holder" id="principles">
  <div class="container">
    <h2>Our Key <span>Principles</span></h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="number">
          <h3><span>1</span> Focused</h3>
        </div>
        <div class="num-text">
          <p>We have a sharp focus on one part of the data chain, one specific feature &ndash; packaging &ndash; and a few specific types of data (e.g. tabular).</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="number">
          <h3><span>2</span> Web Oriented</h3>
        </div>
        <div class="num-text">
          <p>We build build for the web using formats that are web "native" such as JSON, work naturally with HTTP such as plain text CSVs (which stream).</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="number">
          <h3><span>3</span> Distributed</h3>
        </div>
        <div class="num-text">
          <p>Distributed rather than centralized: we design for a distributed ecosystem with no centralized, single point of failure or dependence.</p>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <div class="number">
          <h3><span>4</span> Open</h3>
        </div>
        <div class="num-text">
          <p>Anyone should be able to freely and openly use and reuse what we build. Our community is open to everyone.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="number">
          <h3><span>5</span> Existing Tooling</h3>
        </div>
        <div class="num-text">
          <p>Integrate as easily as possible with existing tools both by building integrations and designing for direct use &ndash; for example we like CSV because everyone has a tool that can access CSV.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="number">
            <h3><span>6</span> Simple, Lightweight</h3>
          </div>
          <div class="num-text">
            <p>Add the minimum, do the least required, keep it simple. For example, use the most basic formats, require only the most essential metadata, data should have nothing extraneous.</p>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
