{% extends "base.html" %}

{% block content %}

<div class="hero-unit">
  <img src="http://assets.okfn.org/p/data/img/logo.png" alt="" />
  <h1>
    Our goal is a world of frictionless data
    <br />
    <small>
      We're creating <strong>lightweight standards and tooling</strong>
      <br />
      to make it effortless to <strong>share</strong> and <strong>get</strong> <strong>data</strong>
    </small>
    <div class="buttons">
    <a href="/publish" class="btn btn-large btn-primary">Publish Data</a>
    <a href="/data" class="btn btn-large btn-success">Get Data</a>
    <a href="/about/contribute" class="btn btn-large">Get Involved</a>
    </div>
  </h1>
</div>

<div class="row">
  <div class="span8 offset2">
    <iframe src="https://docs.google.com/presentation/d/1oCGB0SipMvwFFWrRcyJXmvlY4mqewj-0mFnJgM44oQI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="100%" height="564" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</div>

<hr />

<h1 style="text-align: center;">
  What We Are Doing
</h1>

<div class="row">
  <div class="span4">
    <h3>Standards &amp; Patterns</h3>
    <p>A small set of lightweight 'data package' standards and patterns providing a base structure on which tooling and integration can build.</p>
    <p><a href="/standards" class="btn">Read more &raquo;</a></p>
  </div>
  <div class="span4">
    <h3>Tooling &amp; Integration</h3>
    <p>Making it easy to use and publish data packages from your existing apps and workflows whether that's Excel, R, or Hadoop!</p>
    <p><a href="/tools" class="btn">Read more &raquo;</a></p>
  </div>
  <div class="span4">
    <h3>Outreach &amp; Community</h3>
    <p>Engaging and evangelizing around the concepts, standards and tooling and building a community of users and contributors.</p>
    <p><a href="/about/contribute" class="btn">Read more &raquo;</a></p>
  </div>
</div>

{% endblock %}
