@import url('http://okfnlabs.org/css/labs.css');

body {
  line-height: 22px;
}

.navbar .brand {
  margin-top: 0px;
  color: #333;
  text-shadow: 0px 1px 1px #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.navbar .nav {
  margin-top: 0px;
}

.okfn-ribbon a {
  height: 60px;
  background-position: center -40px;
}

blockquote p {
  font-size: 14px;
}

.well>:first-child, .alert>:first-child {
  margin-top: 0;
}

.sidebar>:first-child {
  margin-top: 0;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 20px 20px;
  margin: 15px -20px -20px;
  border-top: solid 1px #eee;
  font-size: 95%;
}

footer .projects img {
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.sign-up-top {
  display: none;
  background: #fcf8e3;
  padding: 8px;
  font-size: 16px;
  color: #c09853;
  text-align: center;
}

.sign-up-top form {
  margin-left: 10px;
  display: inline;
}

.feedback {
  position: fixed;
  right: 1px;
  top: 250px;
  width: 44px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg); 
  transform: rotate(90deg);
  z-index: 100;
}

.feedback a {
  color: #333;
  font-weight: bold;
  font-size: 28px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: solid 1px #eee;
  border-top: none;
}

.feedback a:hover {
  text-decoration: none;
  background-color: #ddd;
}

.page-header {
  margin-bottom: 20px;
}

.page-header h1 {
  font-weight: bold;
}

/* Custom scroll-bars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background: rgba(150,150,150,0.8);
}

/********************************************************************
  * Search Form
  *******************************************************************/

.navbar .search-query {
  line-height: 20px;
}

.dataset-search {
  margin: 20px 0 20px;
}

.dataset-search input {
  margin: auto;
  width: 500px;
  display: block;
}

/********************************************************************
  * Front page
  *******************************************************************/

.hero-unit {
  background: transparent;
  padding-top: 40px;
}

.hero-unit div.buttons {
  margin-top: 30px;
}

.hero-unit div.buttons a {
  font-size: 30px;
}

/********************************************************************
  * Search Results
  *******************************************************************/

.search .sidebar h3:first-child {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: right;
}

/********************************************************************
  * Dataset Summary
  *******************************************************************/

.dataset.summary {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: dotted 1px #ccc;
  font-size: 13px;
  line-height: 20px;
}

.dataset.summary .logo {
  width: 50px;
  float: right;
  margin-left: 5px;
}

.dataset.summary h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.8;
  font-weight: bold;
}

.dataset.summary h3 a {
}

.dataset.summary h3 a:hover {
  text-decoration: none;
}

.dataset.summary .description {
}

.dataset.summary .actions {
  margin: 5px 0px;
}

.dataset.summary .actions a {
  margin-right: 8px; 
}

.dataset.summary .source {
  font-style: italic;
}

.dataset ul.keywords {
  list-style-type: none;
  margin: 0;
}

.dataset ul.keywords li {
  display: inline-block;
  padding: 1px 4px 2px;
  margin-top: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #55A1CE;
  margin-right: 3px;
}


/********************************************************************
  * Dataset Show
  *******************************************************************/

.dataset.show .logo {
  width: 100px;
  float: right;
  margin-left: 3px;
}

.dataset.show .sidebar {
  font-size: 13px;
  line-height: 20px;
}

.dataset.show .source {
  font-style: italic;
}

.dataset.show .source h5 {
  margin-bottom: 0;
  font-style: normal;
}

.dataset.show .homepage {
  max-width: 250px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataset.show .keywords {
  margin-top: 8px;
}

.dataset.show .actions {
  margin-top: 10px;
}

.dataset.show .sidebar .btn-group {
  margin-bottom: 10px;
}

.dataset.show .sidebar .btn-group .btn {
  font-size: 12px;
}

.resource-listing {
  padding: 3px;
  background: #eee;
  border-radius: 3px;
}

.resource-listing table {
  background: #f8f8f8;
  margin-bottom: 0;
}

.resource-listing table th,
.resource-listing table td
{
  padding: 6px 8px;
}

.resource-listing .download a {
  max-width: 300px;
}

.resource-info {
  margin-top: 20px;
}

.resource-info h3 {
  margin-bottom: 10px;
}

table.resource-summary {
  font-size: 13px;
  margin-bottom: 0;
}

table.resource-summary thead th {
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(#fcfcfc, #ebebeb);
  background-image: -webkit-linear-gradient(#fcfcfc, #ebebeb);
  background-image: linear-gradient(#fcfcfc, #ebebeb);
  background-repeat: repeat-x;
}

table.resource-summary th,
table.resource-summary td
{
  padding: 2px 6px;
}


.dataset.show .viewer {
  margin-top: 20px;
}

.dataset.show .viewer .header {
  margin-bottom: 10px;
}

.dataset.show .viewer .recline-slickgrid {
  height: 400px;
}

.dataset.show .viewer .recline-pager {
  display: none;
}

.recline-slickgrid .slick-row .slick-cell {
  font-size: 12px;
}

.dataset.show .viewer .header .recline-results-info {
}

.recline-data-explorer .data-view-container {
  margin-right: 0;
}

.moreinfo {
  margin-top: 10px;
}

.readme {
  font-size: 14px;
}

.readme h2 {
  font-size: 22px;
}

.readme h3 {
  font-size: 20px;
}

/********************************************************************
  * Standards
  *******************************************************************/

.standards img {
  margin: auto;
  display: block;
}

img.shadow {
  box-shadow: 1px 1px 2px 3px #ccc;
}

/********************************************************************
  * Tools
  *******************************************************************/

.main-tools .well {
  height: 100px;
}

.tools h2 {
  margin-top: 0;
  margin-bottom: 20px;

}
