@import url('http://okfnlabs.org/css/labs.css');

.navbar .brand {
  margin-top: 8px;
  color: #333;
  text-shadow: 0px 1px 0px #ffffff;
  font-size: 25px;
}

.navbar .nav {
  margin-top: 10px;
}

.okfn-ribbon a {
  height: 70px;
  background-position: center -30px;
}

blockquote p {
  font-size: 16px;
}

.well h3 {
  margin-top: 0;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 20px 20px;
  margin: 15px -20px -20px;
  border-top: solid 1px #eee;
}

.sign-up-top {
  display: none;
  background: #fcf8e3;
  padding: 8px;
  font-size: 16px;
  color: #c09853;
  text-align: center;
}

.sign-up-top form {
  margin-left: 10px;
  display: inline;
}

.feedback {
  position: fixed;
  right: 1px;
  top: 250px;
  width: 44px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg); 
  transform: rotate(90deg);
  z-index: 100;
}

.feedback a {
  color: #333;
  font-weight: bold;
  font-size: 28px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: solid 1px #eee;
  border-top: none;
}

.feedback a:hover {
  text-decoration: none;
  background-color: #ddd;
}


/********************************************************************
  * Search Form
  *******************************************************************/

.dataset-search {
  margin: 20px 0 20px;
}

.dataset-search input {
  margin: auto;
  width: 500px;
  display: block;
}

/********************************************************************
  * Front page
  *******************************************************************/

.hero-unit div.buttons {
  margin-top: 30px;
}

.hero-unit div.buttons a {
  font-size: 30px;
}

/********************************************************************
  * Search Results
  *******************************************************************/

.search .sidebar h3:first-child {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: right;
}

/********************************************************************
  * Dataset Summary
  *******************************************************************/

.dataset.summary {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: dotted 1px #ccc;
  font-size: 13px;
  line-height: 20px;
}

.dataset.summary .logo {
  width: 50px;
  float: right;
  margin-left: 5px;
}

.dataset.summary h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.8;
  font-weight: bold;
}

.dataset.summary h3 a {
}

.dataset.summary h3 a:hover {
  text-decoration: none;
}

.dataset.summary .description {
}

.dataset.summary .actions {
  margin: 5px 0px;
}

.dataset.summary .actions a {
  margin-right: 8px; 
}

.dataset.summary .source {
  font-style: italic;
}

.dataset ul.keywords {
  list-style-type: none;
  margin: 0;
}

.dataset ul.keywords li {
  display: inline;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #55A1CE;
  margin-right: 3px;
}


/********************************************************************
  * Dataset Show
  *******************************************************************/

.dataset.show .logo {
  width: 100px;
  float: right;
  margin-left: 3px;
}

.dataset.show .source, .dataset.show .homepage {
  font-style: italic;
  font-size: 85%;
}

.dataset.show .actions {
  margin-top: 10px;
}

.dataset.show .sidebar .btn-group {
  margin-top: 10px;
}

.dataset.show .sidebar .btn-group .btn {
  font-size: 12px;
}

.resource-summary table {
  font-size: 13px;
}

.resource-summary table thead th {
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(#fcfcfc, #ebebeb);
  background-image: -webkit-linear-gradient(#fcfcfc, #ebebeb);
  background-image: linear-gradient(#fcfcfc, #ebebeb);
  background-repeat: repeat-x;
}

.resource-summary table th,
.resource-summary table td
{
  padding: 2px 6px;
}

.dataset.show .viewer {
  margin-top: 20px;
}

.dataset.show .viewer .header {
  margin-bottom: 10px;
}

.dataset.show .viewer .recline-slickgrid {
  height: 400px;
}

.dataset.show .viewer .recline-pager {
  display: none;
}

.dataset.show .viewer .header .recline-results-info {
}

.recline-data-explorer .data-view-container {
  margin-right: 0;
}

.moreinfo {
  margin-top: 10px;
}

.readme {
  font-size: 16px;
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

.readme h2 {
  font-size: 22px;
}

.readme h3 {
  font-size: 20px;
}
