@import url(https://fonts.googleapis.com/css?family=Lato:300,400italic,400,700);

body {
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: Lato, Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .navbar, form, .btn, input, button, select, textarea {
  font-family: Lato, Arial, sans-serif;
}

blockquote p {
  font-size: 14px;
}

.well>:first-child, .alert>:first-child {
  margin-top: 0;
}

.sidebar>:first-child {
  margin-top: 0;
}

.page-header {
  margin-bottom: 20px;
}

.page-header h1 {
  font-weight: bold;
  color: #333;
  text-align: left;
  font-size: 40px;
}

/********************************************************************
  * Navbar etc
  *******************************************************************/

.header-top{ background:#f8f8f8; padding:10px 0; display: none; }

.top-link{}
.top-link ul li a{ color:#3c3c3b; font-size:14px; font-family: 'Lato'; text-decoration:none; }
.top-search input[type="text"] { background: url("../img/icons/top-search.png") no-repeat scroll 97% 9px rgba(0, 0, 0, 0); padding-right: 33px;}

/* main navbar */

.navbar-nav li a{ color:#3c3c3b; font-size:15px; font-family: 'Lato'; font-weight: bold; }
.navbar-nav li a:hover{ color:#888; background: none; }
.mainmenu{}


.header-middle { background:#f8f8f8; padding: 15px 0; border-bottom: solid 1px #eee;}
.header-middle .navbar {
  margin-bottom: 0;
}
.header-middle .logo {
  margin-top: -3px;
}

/**/
.projects-holder{ padding:15px 0;}
.projects-holder img { height: 50px; }

/**/
footer{ background:#666666; padding: 25px 0; margin-top: 50px; }
footer p, footer a { color:#b5b5b5; font-size:14px; }
footer a:hover { color:#fff; text-decoration: none;}
footer .connect li a {
  font-size: 36px;
}

/**/
@media (max-width: 480px) {
	.carousel-content-panel { bottom: 0 !important;}
	.carousel-content-panel .banner-button .btn-green { font-size: 10px !important; padding: 5px 16px !important;}
	.carousel-content-panel h2 { font-size: 14px !important;}
	.carousel-content-panel h1 { font-size: 13px !important;}
	.carousel-indicators { bottom: 28px !important;}
}


/* Custom scroll-bars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background: rgba(150,150,150,0.8);
}


/********************************************************************
  * Home Page
  *******************************************************************/

.carousel-content-panel { bottom: 25%; left: 0; position: absolute; width: 100%;}
.carousel-content-panel h1{ color:#31dac6; font-size:65px; font-weight: bold; }
.carousel-content-panel h2{ font-size:32px; color:#fff; line-height: 1.2;}
.carousel-content-panel .banner-button{ padding-top:15px;}
.btn-green { background: none repeat scroll 0 0 #31dac6; color: #fff;  font-weight: bold; font-size: 22px; padding: 8px 45px;}
/**/
.holder{ padding: 30px 0; }
.holder h2{ color:#3c3c3b; font-size:60px; font-weight: bold; margin-bottom: 25px; }
.holder h4{ color:#3ca69a; font-size:36px; font-weight: bold;}
.holder p{ color:#3c3c3b; font-size:18px; line-height:1.5;}
.holder .row {
  margin-top: 30px;
}
.holder div.icon {
  text-align: center;
}
.holder .fa {
  font-size: 154px;
}

.video-holder{ background:#3cbaab; padding:3% 0; color: #fff;}
.video-holder h2{ color:#fff; font-size:44px; }
.video-holder h3{ color:#fff; font-size:22px; line-height: 1.4;}
.key-holder {
  padding-top: 30px;
}
.key-holder h2{ color:#49aba0; font-size:60px; margin-bottom: 30px;}
.key-holder h2 span{ color:#3c3c3b; font-size:60px; font-weight: bold; }
.number{}
.number h3 { color: #3cbaab; display: inline-block;  font-weight: bold;  font-size: 32px; margin: 0; padding: 10px 0 0; margin-bottom: 15px;}
.number h3 span { border: 3px solid #3cbaab;  border-radius: 30px; display: inline-block; font-size: 28px;  margin: 0; padding: 8px 15px;}
.thumb img{ display:inline-block;}

/********************************************************************
  * Dataset Search
  *******************************************************************/

.dataset-search .intro {
}

.dataset-search .search-form {
  margin: 20px 0 20px;
  font-size: 36px;
}

.dataset-search .search-form input {
  margin: auto;
  width: 500px;
  display: block;
}

.search .sidebar h3:first-child {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: right;
}

/********************************************************************
  * Dataset Summary
  *******************************************************************/

.dataset.summary {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: dotted 1px #ccc;
  font-size: 13px;
  line-height: 20px;
}

.dataset.summary .logo {
  width: 50px;
  float: right;
  margin-left: 5px;
}

.dataset.summary h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.8;
  font-weight: bold;
}

.dataset.summary h3 a {
}

.dataset.summary h3 a:hover {
  text-decoration: none;
}

.dataset.summary .description {
}

.dataset.summary .actions {
  margin: 5px 0px;
}

.dataset.summary .actions a {
  margin-right: 8px; 
}

.dataset.summary .source {
  font-style: italic;
}

.dataset ul.keywords {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.dataset ul.keywords li {
  display: inline-block;
  padding: 1px 4px 2px;
  margin-top: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #55A1CE;
  margin-right: 3px;
}


/********************************************************************
  * Dataset Show
  *******************************************************************/

/**/
.data-holder h2{ color:#3c3c3b; font-size:40px; font-family: 'OpenSansExtraBold';} 
.data-holder .btn-green { background: none repeat scroll 0 0 #31dac6; color: #fff;  font-family: "RadikalMedium"; font-size: 16px; padding: 5px 10px; margin-right:2px;}
.data-holder .btn-green:hover{ background:#000;}
.data-holder p.spl{ font-size:13px;}
.data-holder p.normal{  color:#3c3c3b; font-size:15px; font-family: 'Open Sans'; line-height:1.5;}
.hide-section { height: 225px; margin-bottom: 20px;  overflow-y: auto;}
.border{ padding:2%; background:#dddddd; border-left:8px solid #cccccc;}

.dataset.show .logo {
  width: 100px;
  float: right;
  margin-left: 3px;
}

.dataset.show .sidebar {
  font-size: 13px;
  line-height: 20px;
}

.dataset.show .source {
  font-style: italic;
}

.dataset.show .source h5 {
  margin-bottom: 0;
  font-style: normal;
}

.dataset.show .homepage {
  max-width: 250px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataset.show .keywords {
  margin-top: 8px;
}

.dataset.show .actions {
  margin-top: 10px;
}

.dataset.show .sidebar .btn-group {
  margin-bottom: 10px;
}

.dataset.show .sidebar .btn-group .btn {
  font-size: 12px;
}

.resource-listing {
  padding: 3px;
  background: #eee;
  border-radius: 3px;
}

.resource-listing table {
  background: #f8f8f8;
  margin-bottom: 0;
}

.resource-listing table th,
.resource-listing table td
{
  padding: 6px 8px;
}

.resource-listing .download a {
  max-width: 300px;
}

.resource-info {
  margin-top: 20px;
}

.resource-info h3 {
  margin-bottom: 10px;
}

table.resource-summary {
  font-size: 13px;
  margin-bottom: 0;
}

table.resource-summary thead th {
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(#fcfcfc, #ebebeb);
  background-image: -webkit-linear-gradient(#fcfcfc, #ebebeb);
  background-image: linear-gradient(#fcfcfc, #ebebeb);
  background-repeat: repeat-x;
}

table.resource-summary th,
table.resource-summary td
{
  padding: 2px 6px;
}

.dataset.show .show-recline-grid .recline-slickgrid {
  height: 400px;
}

.dataset.show .show-recline-grid .recline-pager {
  display: none;
}

.dataset.show .viewer {
  margin-top: 20px;
}

.dataset.show .viewer .header {
  margin-bottom: 10px;
}

.dataset.show .viewer .recline-slickgrid {
  height: 400px;
}

.dataset.show .viewer .recline-pager {
  display: none;
}

.recline-slickgrid .slick-row .slick-cell {
  font-size: 12px;
}

.dataset.show .viewer .header .recline-results-info {
}

.recline-data-explorer .data-view-container {
  margin-right: 0;
}

.dataset.show .show-geojson {
  height: 400px;
}

.moreinfo {
  margin-top: 10px;
}

.readme h2 {
  font-size: 22px;
}

.readme h3 {
  font-size: 20px;
}

/********************************************************************
  * Standards
  *******************************************************************/

.standards img {
  margin: auto;
  display: block;
}

img.shadow {
  box-shadow: 1px 1px 2px 3px #ccc;
}

/********************************************************************
  * Tools
  *******************************************************************/

.tools h2 {
  margin-top: 0;
  margin-bottom: 20px;

}

/********************************************************************
  * Roadmap
  *******************************************************************/

.roadmap-details .item {
  font-size: 90%;
}

.roadmap-details .item .metainfo {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.contribute-btn {
  position: fixed;
  top: 100px;
  right: 100px;
}
