@font-face {
    font-family: 'HK Grotesk';
    src: url('./HKGrotesk/HKGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HK-Grotesk";
    font-style: normal;
    font-weight: 700;
    src: url("./HKGrotesk/HKGrotesk-Bold.otf") format("opentype")
  }
@font-face {
    font-family: "HK-Grotesk";
    font-style: normal;
    font-weight: 500;
    src:  url("./HKGrotesk/HKGrotesk-SemiBold.otf") format("opentype")
}
@font-face {
    font-family: "HK-Grotesk";
    font-style: normal;
    font-weight: 300;
    src: url("./HKGrotesk/HKGrotesk-Light.otf") format("opentype")
}
