{% extends "base.html" %}

{% block page_title %}
Tools and Plugins - integrate into your application and workflows
{% endblock %}

{% block content %}
<div class="row">
  <div class="span8">
    <h2>Existing Tools</h2>
    <h3>Excel</h3>
    <p>For the present: just open the CSV file! See <a href="https://github.com/okfn/data.okfn.org/issues/41">this open issue for Excel Import macro</a>.</p>

    <h3>R Client</h3>
    <p><a href="https://github.com/QBRC/RODProt">R Open Data Protocols Library with support for Data Packages and Simple Data Format</a></p>

    <h3>Google Spreadsheets</h3>
    <p><a href="https://github.com/okfn/data.okfn.org/issues/24">Google Spreadsheet Import</a> (in progress)</p>

    <h3>Postgresql</h3>
    <p>A simple <a href="https://github.com/okfn/dptools/blob/master/bin/load-postgresql.py">python script (no deps) to load into Postgresql</a></p>
    <script src="http://gist-it.appspot.com/github/okfn/dptools/blob/master/bin/load-postgresql.py"></script>

    <h3>SQLite</h3>
    <p>A simple <a href="https://github.com/okfn/dptools/blob/master/bin/load-sqlite.py">python script (no deps) to load into SQLite</a></p>
    <script src="http://gist-it.appspot.com/github/okfn/dptools/blob/master/bin/load-sqlite.py"></script>

    <h3>The DataTank</h3>
    <p>A <a href="https://github.com/tdt">PHP framework to publish data from various datasources (CSV,XLS,xSQL,...) into various dataformats (JSON, XML,...) through REST.</a> </p>
  </div>
  <div class="span4">
    <h2>Want to help out?</h2>
    <p><a href="https://github.com/okfn/data.okfn.org/issues?labels=Tools&state=open">Open issues are here &raquo;</a></p>

  </div>
</div>

{% endblock %}
