{% extends "base.html" %}

{% block title %}
Tools and Plugins
{% endblock %}

{% block content %}
<h1>Tools and Plugins for working with Data Packages</h1>
<div class="row">
  <div class="span8">
    <h2>General Tools</h2>

    <h3>Data Package Viewer</h3>
    <p>View any Data Package online using our online <a href="/tools/view">Data Package viewer tool</a>.</p>

    <h3>Data Package Creator</h3>
    <p>Creating a Data Package means creating a <code>datapackage.json</code> file. We provide an <a href="/tools/create">online application which will auto create your datapackage.json from a provided data file</a>.</p>

    <h3>Git Data Package Viewer</h3>
    <p>
      The ODI's <a href="http://git-viewer.labs.theodi.org/">Git Data Viewer</a> 
      can preview Data Packages stored in git repositories.
      See also the <a href='http://theodi.org/blog/git-data-publishing'>blog post</a> and 
      <a href='https://github.com/theodi/git-data-viewer'>source code</a>.
    </p>

    <hr />

    <h2>Using With ...</h2>
    <h3>Using with Excel</h3>
    <p>For the present: just open the CSV file! See <a href="https://github.com/okfn/data.okfn.org/issues/41">this open issue for Excel Import macro</a>.</p>

    <h3>Using with Google Spreadsheets</h3>
    <p><a href="https://github.com/okfn/data.okfn.org/issues/24">Google Spreadsheet Import</a> (in progress)</p>


    <h3>Using with R and R Client</h3>
    <p><a href="https://github.com/QBRC/RODProt">R Open Data Protocols Library with support for Data Packages and Simple Data Format</a></p>

    <h3>Using with Postgresql</h3>
    <p>There's a <a href="https://github.com/okfn/dptools/blob/master/bin/load-postgresql.py">python script (with no dependenciess) to load a Simple Data Format Data Package into Postgresql</a></p>

    <h3>Using with SQLite</h3>
    <p>There is a simple <a href="https://github.com/okfn/dptools/blob/master/bin/load-sqlite.py">python script (no dependencies) to load a Simple Data Format Data Package into SQLite</a></p>

    <hr />

    <h2>Libraries</h2>
    <h3>datapackage (python module)</h3>
    <p>
      A module useful for loading and managing data packages in Python.
      The module is available in <a href="http://pypi.python.org" title="Python package index">PyPI</a> so it can be installed using:
    </p>
    <p>
      <code>pip install datapackage</code>
    </p>
    <p>
      The <a href="https://github.com/tryggvib/datapackage">source code</a> is a available under the <a href="https://www.gnu.org/licenses/gpl" title="GNU GEneral Public License version 3">GPL</a>.
    </p>

    <h3>R Library</h3>
    <p><a href="https://github.com/QBRC/RODProt">R Library with support for Data Packages and Simple Data Format</a></p>

  </div>
  <div class="span4">
    <div class="well">
      <h3>Want to contribute?</h3>
      <p>We want to make it one click or one line to create or use data provided in our <a href="/standards">standard formats</a> in any relevant tool or application. Help make this happen &ndash; <a href="https://github.com/okfn/data.okfn.org/issues?labels=Tools">check out the issues &raquo;</a></p>
    </div>

  </div>
</div>

{% endblock %}
