@tailwind base;
@tailwind components;
@tailwind utilities;

body
  font-family: 'HK Grotesk', sans-serif
  max-width: 1920px
  margin 0 auto
  color black
.navbar
  border-bottom 1px solid #f8f8f8
  color black
  .site-name
    display none
.dropdown-wrapper .dropdown-title
  pointer-events none

@media (max-width: 720px)
  .dropdown-wrapper .dropdown-title
    pointer-events auto
    outline none

.dropdown-wrapper span {
  color:black;
}

.theme-default-content:not(.custom) {
  max-width: 992px !important;
}

img.logo {
  padding-left: 10px;
}

p > span, h1, h2, h3 {
  font-weight: 700;
  color: black;
}

.custom-block
  &.tip
    background-color #f3f5f7
    /* border-color #ea6d4c */

.bg-circle-right
  position: relative
  overflow: hidden

  &::before
    content: ''
    position: absolute
    top: 20%
    left: 100%
    transform: translate(-20%)
    width: 30rem;
    height: 30rem;
    background-color: #00d1ff
    border-radius: 50%
    filter: blur(8.4375rem)
    -webkit-filter: blur(8.4375rem)
    mix-blend-mode: darken


.bg-circle-left
  position: relative

  &::before
    content: ''
    position: absolute
    top: 20%
    left: 0
    transform: translate(-80%)
    width: 40rem;
    height: 40rem;
    background-color: #e077ff
    border-radius: 50%
    filter: blur(8.4375rem)
    -webkit-filter: blur(8.4375rem)
    mix-blend-mode: darken