{% macro dataset_summary(dataset) -%}
  <div class="dataset summary">
    <img src="{{dataset.image or
      'http://assets.okfn.org/p/opendatahandbook/img/data-wrench.png'}}"
      alt="{{dataset.title}}" class="logo" />
    <h3><a href="{{ url_for('dataset', id=dataset.id) }}">{{dataset.title}}</a></h3>
    <div class="description">{{dataset.description}}</div>
    <div class="source">Source: {{dataset.source}}</div>
    <ul class="keywords">
      {% for kw in dataset.keywords or [] %}
      <li>{{kw}}
      {% endfor %}
    </ul>
  </div>
{%- endmacro %}
