{% extends "base.html" %}

{% block content %}

    <form class="form-horizontal dataset-search" autocomplete="off"
      method="GET" action="{{ url_for('search') }}">
      <input type="text" name="q" placeholder="Search datasets" class="search-query js-dataset-query span5" autocomplete="off" />
    </form>

    <hr />

    <div class="row">
      <div class="span4">
        <h3>High Quality Essential Data</h3>
        <p>We have sourced, normalized and quality checked a set of <strong>key
          reference datasets such as country codes, currencies, GDP and
          population</strong>.</p>
      </div>
      <div class="span4">
        <h3>Standard Form, Bulk Access</h3>
        <p>All the datasets are provided in a <strong>standardized</strong> form
        and can be accessed in <strong>bulk as CSV</strong> together with a simple <strong>JSON
          schema</strong>.</p>
      </div>
      <div class="span4">
        <h3>Versioned & Packaged</h3>
        <p>All data comes from <strong>high quality source data packages</strong>
        and is <strong>versioned</strong> using git so that all changes are
        visible and datasets can be collaboratively maintained.</p>
      </div>
    </div>

{% endblock %}
