{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block page_title %}
<div style="font-weight: normal; text-align: center;">
  Our <strong>mission</strong> is to
  <br />
  Make it as <strong>simple as possible</strong>
  <br />
  to get the <strong>data you want</strong>
  <br />
  into the <strong>tool of your choice</strong>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span6 offset3">
    <iframe src="https://docs.google.com/presentation/d/1oCGB0SipMvwFFWrRcyJXmvlY4mqewj-0mFnJgM44oQI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="580" height="464" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

    <iframe src="https://docs.google.com/presentation/d/1-BLImNBv2RtEkFVq_DdWjy05baHfprWHHdXZiMrmihQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="580" height="464" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</div>
{% endblock %}
