{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block page_title %}
<div style="font-weight: normal; text-align: center;">
  <strong>Our Mission is a World of Frictionless Data</strong>
  <br />
  &mdash;
  <br />
  Our <strong>immediate goal</strong> is to
  <br />
  make it as <strong>simple as possible</strong>
  <br />
  to get the <strong>data you want</strong>
  <br />
  into the <strong>tool of your choice</strong>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <h3><a href="data">Quality Data &raquo;</a></h3>
    <p>Key datasets prepared, curated, quality-checked and packaged ready to download or access</p>
  </div>
  <div class="span4">
    <h3><a href="tools">Tooling &amp; Plugins &raquo;</a></h3>
    <p>Simple tooling and plugins to integrate into your existing applications and workflows. Publish and use data from Excel, R, Hadoop or whatever tool you use
  </div>
  <div class="span4">
    <h3><a href="/standards">Simple Standards &raquo;</a></h3>
    <p>A few select standards focused on tabular data. Standards give us a common structure which is essential to tooling and integration.</p>
  </div>
</div>

<hr />

<h2 id="data" style="text-align: center;">The Data</h2>
<div class="row">
  <div class="span4">
    <h3>High Quality &amp; Reliable</h3>
    <p>We are sourcing, normalizing and quality checking a set of <strong>key
      reference and indicator datasets such as country codes and GDP</strong>.</p>
  </div>
  <div class="span4">
    <h3>Standard Form &amp; Bulk Access</h3>
    <p>All the datasets are provided in a <strong>standardized</strong> form
    and can be accessed in <strong>bulk as CSV</strong> together with a simple <strong>JSON
      schema</strong>.</p>
  </div>
  <div class="span4">
    <h3>Versioned & Packaged</h3>
    <p>All data is in <strong>data packages</strong>
    and is <strong>versioned</strong> using git so all changes are
    visible and data can be <strong>collaboratively maintained</strong>.</p>
  </div>
</div>

<hr />

<h2>Slides</h2>
<div class="row">
  <div class="span9">
    <iframe src="https://docs.google.com/presentation/d/1oCGB0SipMvwFFWrRcyJXmvlY4mqewj-0mFnJgM44oQI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="580" height="464" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

    <iframe src="https://docs.google.com/presentation/d/1-BLImNBv2RtEkFVq_DdWjy05baHfprWHHdXZiMrmihQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="580" height="464" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</div>
{% endblock %}
