{% extends "base.html" %}

{% block page_title %}
<div style="font-weight: normal; text-align: center;">
  <strong>Our Mission is a World of Frictionless Data</strong>
  <br />
  &mdash;
  <br />
  Our <strong>immediate goal</strong> is to
  <br />
  make it as <strong>simple as possible</strong>
  <br />
  to get the <strong>data you want</strong>
  <br />
  into the <strong>tool of your choice</strong>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <h3><a href="/standards">Simple Standards &raquo;</a></h3>
    <p>A few select standards focused on tabular data. Standards give us a common structure which is essential to tooling and integration.</p>
  </div>
  <div class="span4">
    <h3>Tooling &amp; Integration &raquo;</h3>
    <p>Simple tooling and integration - you should be able to get data in standard form into or out of Excel, R, Hadoop or whatever tool you use
  </div>
  <div class="span4">
    <h3><a href="data">Pre-prepared Data &raquo;</a></h3>
    <p>Key datasets pre-prepared, curated, quality-checked and hosted with an API ready to download or access</p>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h2>Get Involved</h2>
    <ul>
      <li>Tools integration - we want to make it one click (or one line) to create or use a data.okfn.org style dataset in any relevant tool or application. Interested? <a href="https://github.com/okfn/data.okfn.org/issues?labels=Tools">Check out the issues &raquo;</a></li>
      <li>Promotion and engagement - we need to let the data community know what we're doing. Help us spread the word. Just <a href="http://okfnlabs.org/contact/">get in touch &raquo;</a></li> 
      <li>Data prepartion - help us prepare and curate data in line with the simple data format. <a href="data/contribute">Find our more &raquo;</a></li>
    </ul>
    <p>Want to discuss any of this? Join the okfn-labs mailing list:</p>
    <form action="http://lists.okfn.org/mailman/subscribe/okfn-labs"
      action="POST" class="form-inline">
      <input name="fullname" placeholder="Name" type="text">
      <input type="text" class="input-medium" name="email" placeholder="Email">
      <button type="submit" class="btn">Sign up</button>
    </form>
  </div>
  <div class="offset2 span5">
    <h2>Get Started</h2>
    <p>Check out the examples, browse the prepared data, or follow a tutorial</p>
  </div>
</div>

{% endblock %}
