{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
  <h1>
    We're providing<br />
    <strong>key datasets</strong>
    in <strong>high quality</strong>,
    <strong>easy-to-use</strong> &amp; <strong><a href="http://opendefinition.org/" title="open data defined">open</a></strong> form
    <div class="buttons">
    <a href="/data" class="btn btn-large btn-primary">Get Data &raquo;</a>
    <a href="/about/contribute" class="btn btn-large">Contribute &raquo;</a>
    <a href="/about" class="btn btn-large">Find out More &raquo;</a>
    </div>
  </h1>
</div>

{% endblock %}
