{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}Data Packages Listing{% endblock %}

{% block content %}

<div class="hero-unit">
  <h1 style="text-align: center;">
    <strong>Find Data Packages</strong>
    <!-- form class="form-horizontal dataset-search" autocomplete="off"
      method="GET" action="/search">
      <input type="text" name="q" placeholder="Search datasets" class="search-query typeahead span5" autocomplete="off" />
    </form-->
  </h1>
</div>

<div class="row">
  <div class="results span6">
    <h3>Official <a href="/roadmap/core-datasets">&quot;Core&quot;</a> Datasets ({{ coreDatasets.length }})</h3>
    {% for dataset in coreDatasets %}
      {{ snippets.dataset_summary(dataset) }}
    {% endfor %}
  </div>
  <div class="span6">
    <h3>All Community Datasets ({{ total }})</h3>
    {% for dataset in datasets %}
      {{ snippets.dataset_summary(dataset) }}
    {% endfor %}
  </div>
</div>

{% endblock %}
